.logo {
  height: 200px;
}

.subtitle {
  font-style: italic;
  font-size: x-large;
  color: crimson; 
}

.featuredCars {
  border-radius: 4px;
  font-style: italic;
  font-size: xx-large;
  background-color: crimson;
}